@import "../node_modules/tinper-bee-core/scss/index.scss";
@import "../src/Loading.scss";
@import "../node_modules/bee-layout/build/Layout.css";
@import "../node_modules/bee-panel/build/Panel.css";
@import "../node_modules/bee-button/build/Button.css";

.displayDiv{
  margin:100px!important;
}
.dispalyDiv{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}