@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
@import "../node_modules/bee-modal/src/Modal.scss";

$loadprimary: rgb(63, 81, 181);
$loadsuccess: #4caf50;
$loadwarn: rgb(255, 152, 0);
$lineanimating: (
        1:line-scale 1s 0.1s infinite cubic-bezier(.2, .68, .18, 1.08),
        2:line-scale 1s 0.2s infinite cubic-bezier(.2, .68, .18, 1.08),
        3:line-scale 1s 0.3s infinite cubic-bezier(.2, .68, .18, 1.08),
        4:line-scale 1s 0.4s infinite cubic-bezier(.2, .68, .18, 1.08),
        5:line-scale 1s 0.5s infinite cubic-bezier(.2, .68, .18, 1.08)
);
$linebackcolor: (
        1: #F44336,
        2: #7ED321,
        3: #0084FF,
        4: #FF9800,
        5: #D0021B
);
/**
  * 加载背景
  */
.u-loading-back{
  position:relative;
  text-align: center;
  width:120px;
  height:110px;
  min-height: 40px;
  margin:0 auto;
  &.light{
    background: #fff;
  }
  &.dark{
    background: #000;
  }
}
/**
  * 文字
  */
.u-loading-desc {
  font-family: "Open Sans", "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-size: 16px;
  color: #cecece;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.u-modal-diaload {
  top: 30%;
  left: 45%;
  position: absolute;
  background: transparent;
  height: auto;
  width: auto;
  .u-modal-header {
    margin-right: -15px;
    border-bottom: 1px solid transparent;
  }
  .u-modal-header{
    padding:0;
  }
  .u-modal-body{
    padding:0;
  }
}

/**
  * default样式 单个圆圈加载
  */

.u-loading {
  &.u-loading-rotate {
    & > div {
      border-radius: 100%;
      margin: 2px;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      border: 2px solid #c2c3c5;
      border-bottom-color: transparent;
      height: 40px;
      width: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -22px;
      margin-top: -22px;
      background: transparent !important;
      display: inline-block;
      -webkit-animation: rotate 0.75s 0s linear infinite;
      animation: rotate 0.75s 0s linear infinite;
    }
    &.u-loading-rotate-lg {
      & > div {
        margin-left: -30px;
        margin-top: -30px;
        width: 60px;
        height: 60px;
      }
    }
    &.u-loading-rotate-sm {
      & > div {
        margin-left: -15px;
        margin-top: -15px;
        width: 25px;
        height: 25px;
      }
    }
    &.u-loading-rotate-primary {
      & > div {
        border: 2px solid $loadprimary;
        border-bottom-color: transparent;
      }
    }
    &.u-loading-rotate-success {
      & > div {
        border: 2px solid $loadsuccess;
        border-bottom-color: transparent;
      }
    }
    &.u-loading-rotate-warning {
      & > div {
        border: 2px solid $loadwarn;
        border-bottom-color: transparent;
      }
    }
  }

}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }

  50% {
    -webkit-transform: rotate(180deg) scale(0.6);
    transform: rotate(180deg) scale(0.6);
  }

  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

.u-loading {
  &.u-loading-line {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -30px;
    & > div {
      background-color: #C2C3C5;
      width: 6px;
      height: 50px;
      border-radius: 2px;
      margin: 2px;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      display: inline-block;
    }
    &.u-loading-line-lg {
      margin-left: -30px;
      margin-top: -50px;
      & > div {
        width: 8px;
        height: 90px;
      }
    }
    &.u-loading-line-sm {
      margin-left: -20px;
      margin-top: -22px;
      & > div {
        width: 4px;
        height: 35px;
      }
    }
    @each $index, $anima in $lineanimating {
      div:nth-child( #{$index}  ) {
        -webkit-animation: $anima;
        animation: $anima;
        background-color: map_get($linebackcolor, $index);

      }
    }

    &.u-loading-line-primary {
      & > div {
        background-color: $loadprimary;
      }
    }
    &.u-loading-line-success {
      & > div {
        background-color: $loadsuccess;
      }
    }
    &.u-loading-line-warning {
      & > div {
        background-color: $loadwarn;
      }
    }
  }
}
@keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }

  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }

  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);

  }
}
