@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";


$loading-loadprimary: rgb(63, 81, 181);
$loading-loadsuccess: #4caf50;
$loading-loadwarn: rgb(255, 152, 0);
$loading-lineanimating: (
        1:line-scale 1s 0.1s infinite cubic-bezier(.2, .68, .18, 1.08),
        2:line-scale 1s 0.2s infinite cubic-bezier(.2, .68, .18, 1.08),
        3:line-scale 1s 0.3s infinite cubic-bezier(.2, .68, .18, 1.08),
        4:line-scale 1s 0.4s infinite cubic-bezier(.2, .68, .18, 1.08),
        5:line-scale 1s 0.5s infinite cubic-bezier(.2, .68, .18, 1.08)
);
$loading-linebackcolor: (
        1: #F44336,
        2: #7ED321,
        3: #0084FF,
        4: #FF9800,
        5: #D0021B
);
$loading-back-width: 120px;
$loading-back-height:110px;
$loading-desc-font-size: 16px;
$loading-desc-color: #cecece;
$loading-rotate-bor:#c2c3c5;

/*两种加载的尺寸 width height*/
$loading-rotate-sm-size: 25px;
$loading-rotate-size:40px;
$loading-rotate-lg-size:60px;

$loading-line-sm-width: 4px;
$loading-line-sm-height:35px;
$loading-line-width:6px;
$loading-line-height:50px;
$loading-line-lg-width:8px;
$loading-line-lg-height:90px ;

/*居中位置top left*/
$loading-center-top:50%;
$loading-center-left:50%;

$loading-rotate-center-sm: -15px ;
$loading-rotate-center:-22px;
$loading-rotate-center-lg:-35px ;

$loading-line-center-sm-top: -22px;
$loading-line-center-sm-left:-20px;
$loading-line-center-top:-30px;
$loading-line-center-left:-25px;
$loading-line-center-lg-top:-50px;
$loading-line-center-lg-left:-30px;

/**
  * 加载背景
  */
.u-loading-back{
  position:relative;
  text-align: center;
  width:$loading-back-width;
  height:$loading-back-height;
  margin:0 auto;
  &.light{
    background: #fff;
  }
  &.dark{
    background: #000;
  }
}
/**
  * 文字
  */
.u-loading-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: $loading-desc-font-size;
  color: $loading-desc-color;
}


/**
  * default样式 单个圆圈加载
  */

.u-loading {
  &.u-loading-rotate {
    & > div {
      position: absolute;
      border-radius: 100%;
      margin: 2px;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      border: 2px solid $loading-rotate-bor;
      border-bottom-color: transparent;
      width: $loading-rotate-size;
      height: $loading-rotate-size;
      top: $loading-center-top;
      left: $loading-center-left;
      margin-left: $loading-rotate-center;
      margin-top: $loading-rotate-center;
      background: transparent !important;
      display: inline-block;
      -webkit-animation: rotate 0.75s 0s linear infinite;
      animation: rotate 0.75s 0s linear infinite;
    }
    &.u-loading-rotate-lg {
      & > div {
        margin-left: $loading-rotate-center-lg;
        margin-top: $loading-rotate-center-lg;
        width: $loading-rotate-lg-size;
        height: $loading-rotate-lg-size;
      }
    }
    &.u-loading-rotate-sm {
      & > div {
        margin-left:$loading-rotate-center-sm;
        margin-top: $loading-rotate-center-sm;
        width: $loading-rotate-sm-size;
        height:$loading-rotate-sm-size;
      }
    }
    &.u-loading-rotate-primary {
      & > div {
        border: 2px solid $loading-loadprimary;
        border-bottom-color: transparent;
      }
    }
    &.u-loading-rotate-success {
      & > div {
        border: 2px solid $loading-loadsuccess;
        border-bottom-color: transparent;
      }
    }
    &.u-loading-rotate-warning {
      & > div {
        border: 2px solid $loading-loadwarn;
        border-bottom-color: transparent;
      }
    }
  }

}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }

  50% {
    -webkit-transform: rotate(180deg) scale(0.6);
    transform: rotate(180deg) scale(0.6);
  }

  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

.u-loading {
  &.u-loading-line {
    position: absolute;
    top:$loading-center-top;
    left: $loading-center-left;
    margin-top: $loading-line-center-top;
    margin-left: $loading-line-center-left;
    & > div {
      background-color: #C2C3C5;
      width: $loading-line-width;
      height: $loading-line-height;
      border-radius: 2px;
      margin: 2px;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      display: inline-block;
    }
    &.u-loading-line-lg {
      margin-top: $loading-line-center-lg-top;
      margin-left: $loading-line-center-lg-left;
      & > div {
        width: $loading-line-lg-width;
        height: $loading-line-lg-height;
      }
    }
    &.u-loading-line-sm {
      margin-top: $loading-line-center-sm-top;
      margin-left: $loading-line-center-sm-left;
      & > div {
        width:$loading-line-sm-width;
        height: $loading-line-sm-height;
      }
    }
    @each $index, $anima in $loading-lineanimating {
      div:nth-child( #{$index}  ) {
        -webkit-animation: $anima;
        animation: $anima;
        background-color: map_get($loading-linebackcolor, $index);
      }
    }

    &.u-loading-line-primary {
      & > div {
        background-color: $loading-loadprimary;
      }
    }
    &.u-loading-line-success {
      & > div {
        background-color: $loading-loadsuccess;
      }
    }
    &.u-loading-line-warning {
      & > div {
        background-color: $loading-loadwarn;
      }
    }
  }
}
@keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }

  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }

  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);

  }
}
